---
import Layout from '../layouts/Layout.astro';
import Pidorases from "../assets/pidorases.webp";
import VK from "../assets/vk.svg";
import Telegram from "../assets/telegram.svg";
import Discord from "../assets/discord.svg";
import { Image } from 'astro:assets';
---

<Layout>
	<div class="header">
		<span class="logo">🇺🇸🦅 Аматэруса</span>
	</div>

	<div id="app">
		<h1 class="who">Аутисты...</h1>
		<Image class="poster" src={Pidorases} alt="Pidorases" />
		<h2>Зато они мои аутисты 😽💕💖💘</h2>

		<!-- <h1 class="we-have">У нас есть:</h1> -->

		<div class="socials">
			<a href="https://discord.gg/YVQF7e55JX" target="_blank" class="social" id="discord">
				<Image src={Discord} alt="Discord" />
			</a>

			<a href="https://vk.me/join/tJ7/qSP11zFJM23Dh5lLkhTHfAm7KfGOxu0=" target="_blank" class="social" id="vk">
				<Image src={VK} alt="VK" />
			</a>

			<a href="https://t.me/+nADT5RlX3hxkOTVi" target="_blank" class="social" id="telegram">
				<Image src={Telegram} alt="Telegram" />
			</a>
		</div>

		<p>Amaterasu © 2067. Все права защищены, в том числе Jennya Mod.</p>
	</div>
</Layout>

<style lang="scss">
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(0, 0, 0);
		color: white;
	}

	#app {
		padding-inline: 2rem;
		padding-block: 2rem;
		width: 100%;
		max-width: 75rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.header {
		width: 100%;
		max-width: 75rem;
		padding-block: 1rem;
		padding-inline: 2rem;

		.logo {
			font-size: 2em;
			font-family: "Nunito", sans-serif;
			font-weight: 800;
			color: white;
		}
	}

	.who, h2, p {
		font-family: "Nunito", sans-serif;
		text-align: center;
	}

	.who {
		font-size: 8em;
	}

	h2 {
		font-size: 4em;
		color: rgb(255, 238, 251);
		text-shadow: 0 0 2rem rgba(255, 162, 232, 0.75);
	}

	.who, h2 {
		margin-block: 8rem;
	}

	.poster {
		width: 100%;
		max-width: 50rem;
		height: auto;
		border-radius: 4rem;
	}
	
	@media screen and (max-width: 700px) {
		.who {
			font-size: 6em;
		}

		h2 {
			font-size: 4em;
		}
	}

	@media screen and (max-width: 500px) {
		.who {
			font-size: 5em;
		}

		h2 {
			font-size: 4em;
		}
	}

	@media screen and (max-width: 400px) {
		.who {
			font-size: 4em;
		}

		h2 {
			font-size: 3em;
		}
	}

	.socials {
		display: flex;
		flex-direction: row;
		gap: 3rem;
		justify-content: center;
		align-items: center;
		margin-bottom: 10rem;

		.social {
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -25%;
				top: -25%;
				width: 150%;
				height: 150%;
				opacity: 0;
				transition: .1s;
			}

			&:hover::before {
				opacity: 1;
			}

			img {
				width: 4rem;
				height: auto;
			}
		}

		#vk {
			img {
				filter: brightness(0) saturate(100%) invert(38%) sepia(97%) saturate(4281%) hue-rotate(201deg) brightness(101%) contrast(106%);
			}

			&::before {
				background: radial-gradient(rgba(0, 119, 255, .5), transparent 75%);
			}
		}

		#discord {
			img {
				filter: brightness(0) saturate(100%) invert(30%) sepia(97%) saturate(1885%) hue-rotate(226deg) brightness(100%) contrast(90%);
			}

			&::before {
				background: radial-gradient(rgba(88, 101, 242, 0.5), transparent 75%);
			}
		}

		#telegram {
			img {
				filter: brightness(0) saturate(100%) invert(43%) sepia(94%) saturate(431%) hue-rotate(155deg) brightness(111%) contrast(88%);
			}

			&::before {
				background: radial-gradient(rgba(38, 165, 228, 0.5), transparent 75%);
			}
		}
	}

	p {
		font-size: 1em;
		color: rgb(81, 70, 82);
	}
</style>